name: Deploy to GitHub pages

on:
  push:
    branches: [ main ]

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pages: write
      id-token: write

    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    
    steps:
      - uses: actions/checkout@v5

      - name: Build app
        run: |
          npm ci
          npm run build
          mkdir _site/convert -p
          mkdir _site/docs -p
          mv dist/* _site/convert

      - name: Build docs
        run: |
          mv docs/* _site/docs

      - name: Upload to GitHub Pages
        uses: actions/upload-pages-artifact@v3
        with:
          path: './_site'
      
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4